# phpstorm project files
.idea

# composer vendor dir
/vendor

# ignore assets
/frontend/web/assets

# ignore runtime
/console/runtime/logs

frontend/runtime/cache
frontend/runtime/debug
frontend/runtime/logs
frontend/runtime/mail

